@(listPost: List[Post])

@main("View all post") {
    <div style="text-align: center">
        <h2 style="color: #cc0000; margin-top: 50px; font-size: large;" class="uppercase font-bold">All posts: </h2>
        <div style="padding: 20px 20px;" >
        @for(post <- listPost) {
            <div class="border-2 mt-4" style="margin: 20px 30%">
                <a href="" style="font: 18px; font-weight: bold" class="mt-4"><h1 class="mt-4">@post.title</h1></a>
                <p>@post.description</p>
                <p class="text-right px-2 pt-4 pb-1">@post.userEmail</p>
            </div>
        }
        </div>

    </div>
}
